body {
    background-image: url("/resources/shared/image/brickwall.png");
}

h3 {
    color: #989898;
    margin-top:20px;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 16px;
    font-weight: normal;
}

.left-panel {
    background-image: url("/resources/shared/image/tex2res5.png");
    padding: 20px;
}

.right-panel {
    border-left: 1px solid #CFCFCF;
    border-right: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
}