#profile_img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.blog-block {
    margin-bottom: 20px;
}

.blog-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-title {
    border-left: 5px solid #CCCCCC;
}

.blog-time {
    height: 42px;
    display: table;
}

.blog-time p {
    display: table-cell;
    vertical-align: middle;
    color: #989898;
    text-align: right;
}
h4 {
    font-size: 20px;
}

.blogs-area {
    background-image: url("/resources/blog/theme/blog-area.png");
}

#theme-block {
    height: 100px;
    background-image: url("/resources/blog/theme/banner.jpg");
}

.blog-footer {
     height: auto;
     background-color: #FFFFFF;
}

.blog-footer p {
    text-align: center;
}